*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.num{
    margin:5px 0;
    display:flex;
    align-items: center;
    justify-content:space-evenly;
}
.nums{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content:space-evenly;
    text-align:center;
}
.nums h1{
    color:red;
}